body {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9fafb;
}
h2 {
    text-align: center;
    margin: 0 0 20px;
  }

.formDesign {
  font-size: 20px;
  margin: 20px 0;
}

.formDesign input {
  width: 30%;
  padding: 10px;
}

.formerror {
  color: red;
}
.container {
  border: 2px solid #ffff;
  background-color: #ffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 400px;
}
.formDesign input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.formDesign span {
    visibility: hidden;
}
.btn {
  cursor: pointer;
  width: 100%;
  background-color: #3498db;
  border: 2px solid #3498db;
  display: block;
  color: #ffff;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  
}
